langchain==0.3.7
langchain-chroma==0.1.4
langchain-core==0.3.18
streamlit==1.40.1

langchain-community==0.3.7
InstructorEmbedding==1.0.1

sentence-transformers==2.2.2
langchain-huggingface

pip install langchain langchain-chroma langchain-core langchain-community langchain-huggingface


pip install huggingface-hub==0.25.0